* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #030724;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html,
body {
  font-family: "Play", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

nav a,
.hamburger-label {
  color: #56bc8e;
}

nav a:hover {
  color: #3981ea;
  text-decoration: underline;
}

nav a .active {
  text-decoration: line-through;
}

nav i {
  color: #56bc8e;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 95%;
  z-index: 1;
}

nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

#logo {
  max-width: 10em;
}

@media screen and (min-width: 1066px) {
  .hamburger-label,
  #hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 1065px) {
  nav,
  #hamburger-menu {
    display: none;
  }
  #hamburger-menu:checked ~ nav {
    display: block;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 5em;
  }
  .hamburger-label {
    font-size: 2em;
    padding: 1em;
    text-align: end;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header {
    max-width: 100%;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: -1em;
    padding: 0em;
    background-color: #030724;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
  nav ul {
    padding: 1.5em;
  }
}

@media screen and (min-width: 1066px) {
  .section-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
    position: fixed;
    bottom: 45%;
    left: 5%;
    z-index: 1;
  }
  .scroller {
    width: 1em;
    height: 1em;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #040255 0% 0% no-repeat padding-box;
    border: 2px solid #3981ea;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .scroller:hover {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  .selected {
    border: 4px solid #3981ea;
  }
}

#home {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  background: linear-gradient(-45deg, #56bc8e, #3981ea, #040255, #03053d);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-container {
  position: relative;
}

.about-content-container {
  max-width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateZ(50%);
          transform: translateZ(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

.about-content-container h3 {
  color: #3981ea;
  text-shadow: 2px 2px #030724;
}

.about-content-container h1 {
  color: #56bc8e;
  font-weight: bold;
  text-shadow: 2px 2px #030724;
}

.about-content-container p {
  color: white;
}

.about-content-img img {
  max-width: 15em;
  -webkit-box-shadow: -50px -50px 0px -40px #56bc8e, 50px 50px 0px -40px #3981ea;
          box-shadow: -50px -50px 0px -40px #56bc8e, 50px 50px 0px -40px #3981ea;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
            box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
            box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
            box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
            box-shadow: 0 5px 15px 0px #56bc8e 0, 0, 0, 0.6;
  }
}

.about-content-text {
  max-width: 25em;
}

@media screen and (max-width: 962px) {
  .about-content-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .about-content-img img {
    max-width: 10em;
  }
}

.skills-item {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.skills-item img {
  width: 100%;
  max-width: 5rem;
}

.skills-item:nth-of-type(1) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.76683s;
          transition-delay: 0.76683s;
  -webkit-animation-delay: 0.76624s;
          animation-delay: 0.76624s;
}

.skills-item:nth-of-type(2) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.05156s;
          transition-delay: 0.05156s;
  -webkit-animation-delay: 0.16116s;
          animation-delay: 0.16116s;
}

.skills-item:nth-of-type(3) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.30362s;
          transition-delay: 0.30362s;
  -webkit-animation-delay: 0.8046s;
          animation-delay: 0.8046s;
}

.skills-item:nth-of-type(4) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.2308s;
          transition-delay: 0.2308s;
  -webkit-animation-delay: 0.91908s;
          animation-delay: 0.91908s;
}

.skills-item:nth-of-type(5) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.17562s;
          transition-delay: 0.17562s;
  -webkit-animation-delay: 0.86254s;
          animation-delay: 0.86254s;
}

.skills-item:nth-of-type(6) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.7743s;
          transition-delay: 0.7743s;
  -webkit-animation-delay: 0.26931s;
          animation-delay: 0.26931s;
}

.skills-item:nth-of-type(7) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.62528s;
          transition-delay: 0.62528s;
  -webkit-animation-delay: 0.79672s;
          animation-delay: 0.79672s;
}

.skills-item:nth-of-type(8) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.00849s;
          transition-delay: 0.00849s;
  -webkit-animation-delay: 0.53163s;
          animation-delay: 0.53163s;
}

.skills-item:nth-of-type(9) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.79866s;
          transition-delay: 0.79866s;
  -webkit-animation-delay: 0.94093s;
          animation-delay: 0.94093s;
}

.skills-item:nth-of-type(10) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.23823s;
          transition-delay: 0.23823s;
  -webkit-animation-delay: 0.05213s;
          animation-delay: 0.05213s;
}

.skills-item:nth-of-type(11) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.78089s;
          transition-delay: 0.78089s;
  -webkit-animation-delay: 0.52993s;
          animation-delay: 0.52993s;
}

.skills-item:nth-of-type(12) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.00326s;
          transition-delay: 0.00326s;
  -webkit-animation-delay: 0.9615s;
          animation-delay: 0.9615s;
}

.skills-item:nth-of-type(13) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.16655s;
          transition-delay: 0.16655s;
  -webkit-animation-delay: 0.6621s;
          animation-delay: 0.6621s;
}

.skills-item:nth-of-type(14) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.16334s;
          transition-delay: 0.16334s;
  -webkit-animation-delay: 0.49788s;
          animation-delay: 0.49788s;
}

.skills-item:nth-of-type(15) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.77799s;
          transition-delay: 0.77799s;
  -webkit-animation-delay: 0.56824s;
          animation-delay: 0.56824s;
}

.skills-item:nth-of-type(16) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.17915s;
          transition-delay: 0.17915s;
  -webkit-animation-delay: 0.19147s;
          animation-delay: 0.19147s;
}

.skills-item:nth-of-type(17) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.23889s;
          transition-delay: 0.23889s;
  -webkit-animation-delay: 0.94563s;
          animation-delay: 0.94563s;
}

.skills-item:nth-of-type(18) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.78634s;
          transition-delay: 0.78634s;
  -webkit-animation-delay: 0.28812s;
          animation-delay: 0.28812s;
}

.skills-item:nth-of-type(19) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.63949s;
          transition-delay: 0.63949s;
  -webkit-animation-delay: 0.00494s;
          animation-delay: 0.00494s;
}

.skills-item:nth-of-type(20) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.09623s;
          transition-delay: 0.09623s;
  -webkit-animation-delay: 0.88945s;
          animation-delay: 0.88945s;
}

.skills-item:nth-of-type(21) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.37105s;
          transition-delay: 0.37105s;
  -webkit-animation-delay: 0.16152s;
          animation-delay: 0.16152s;
}

.skills-item:nth-of-type(22) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.657s;
          transition-delay: 0.657s;
  -webkit-animation-delay: 0.41442s;
          animation-delay: 0.41442s;
}

.skills-item:nth-of-type(23) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.34179s;
          transition-delay: 0.34179s;
  -webkit-animation-delay: 0.2893s;
          animation-delay: 0.2893s;
}

.skills-item:nth-of-type(24) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.89982s;
          transition-delay: 0.89982s;
  -webkit-animation-delay: 0.98445s;
          animation-delay: 0.98445s;
}

.skills-item:nth-of-type(25) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.3357s;
          transition-delay: 0.3357s;
  -webkit-animation-delay: 0.73873s;
          animation-delay: 0.73873s;
}

.skills-item:nth-of-type(26) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.58192s;
          transition-delay: 0.58192s;
  -webkit-animation-delay: 0.34205s;
          animation-delay: 0.34205s;
}

.skills-item:nth-of-type(27) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.40304s;
          transition-delay: 0.40304s;
  -webkit-animation-delay: 0.14961s;
          animation-delay: 0.14961s;
}

.skills-item:nth-of-type(28) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.01416s;
          transition-delay: 0.01416s;
  -webkit-animation-delay: 0.94963s;
          animation-delay: 0.94963s;
}

.skills-item:nth-of-type(29) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.36383s;
          transition-delay: 0.36383s;
  -webkit-animation-delay: 0.61929s;
          animation-delay: 0.61929s;
}

.skills-item:nth-of-type(30) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.4606s;
          transition-delay: 0.4606s;
  -webkit-animation-delay: 0.94322s;
          animation-delay: 0.94322s;
}

.skills-item:nth-of-type(31) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.96092s;
          transition-delay: 0.96092s;
  -webkit-animation-delay: 0.4487s;
          animation-delay: 0.4487s;
}

.skills-item:nth-of-type(32) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.07502s;
          transition-delay: 0.07502s;
  -webkit-animation-delay: 0.4215s;
          animation-delay: 0.4215s;
}

.skills-item:nth-of-type(33) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.44099s;
          transition-delay: 0.44099s;
  -webkit-animation-delay: 0.20129s;
          animation-delay: 0.20129s;
}

.skills-item:nth-of-type(34) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.87711s;
          transition-delay: 0.87711s;
  -webkit-animation-delay: 0.11805s;
          animation-delay: 0.11805s;
}

.skills-item:nth-of-type(35) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.49356s;
          transition-delay: 0.49356s;
  -webkit-animation-delay: 0.16567s;
          animation-delay: 0.16567s;
}

.skills-item:nth-of-type(36) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.81545s;
          transition-delay: 0.81545s;
  -webkit-animation-delay: 0.12775s;
          animation-delay: 0.12775s;
}

.skills-item:nth-of-type(37) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.78091s;
          transition-delay: 0.78091s;
  -webkit-animation-delay: 0.06228s;
          animation-delay: 0.06228s;
}

.skills-item:nth-of-type(38) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.88016s;
          transition-delay: 0.88016s;
  -webkit-animation-delay: 0.64154s;
          animation-delay: 0.64154s;
}

.skills-item:nth-of-type(39) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.67124s;
          transition-delay: 0.67124s;
  -webkit-animation-delay: 0.84078s;
          animation-delay: 0.84078s;
}

.skills-item:nth-of-type(40) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.18436s;
          transition-delay: 0.18436s;
  -webkit-animation-delay: 0.66712s;
          animation-delay: 0.66712s;
}

.skills-item:nth-of-type(41) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.71313s;
          transition-delay: 0.71313s;
  -webkit-animation-delay: 0.89257s;
          animation-delay: 0.89257s;
}

.skills-item:nth-of-type(42) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.25331s;
          transition-delay: 0.25331s;
  -webkit-animation-delay: 0.45233s;
          animation-delay: 0.45233s;
}

.skills-item:nth-of-type(43) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.66653s;
          transition-delay: 0.66653s;
  -webkit-animation-delay: 0.11779s;
          animation-delay: 0.11779s;
}

.skills-item:nth-of-type(44) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.55247s;
          transition-delay: 0.55247s;
  -webkit-animation-delay: 0.36855s;
          animation-delay: 0.36855s;
}

.skills-item:nth-of-type(45) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.87749s;
          transition-delay: 0.87749s;
  -webkit-animation-delay: 0.49748s;
          animation-delay: 0.49748s;
}

.skills-item:nth-of-type(46) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.07377s;
          transition-delay: 0.07377s;
  -webkit-animation-delay: 0.257s;
          animation-delay: 0.257s;
}

.skills-item:nth-of-type(47) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.55928s;
          transition-delay: 0.55928s;
  -webkit-animation-delay: 0.18811s;
          animation-delay: 0.18811s;
}

.skills-item:nth-of-type(48) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.82306s;
          transition-delay: 0.82306s;
  -webkit-animation-delay: 0.10357s;
          animation-delay: 0.10357s;
}

.skills-item:nth-of-type(49) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.42084s;
          transition-delay: 0.42084s;
  -webkit-animation-delay: 0.28531s;
          animation-delay: 0.28531s;
}

.skills-item:nth-of-type(50) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.10962s;
          transition-delay: 0.10962s;
  -webkit-animation-delay: 0.22696s;
          animation-delay: 0.22696s;
}

.skills-item:nth-of-type(51) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.24824s;
          transition-delay: 0.24824s;
  -webkit-animation-delay: 0.12227s;
          animation-delay: 0.12227s;
}

.skills-item:nth-of-type(52) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.63294s;
          transition-delay: 0.63294s;
  -webkit-animation-delay: 0.50993s;
          animation-delay: 0.50993s;
}

.skills-item:nth-of-type(53) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.62137s;
          transition-delay: 0.62137s;
  -webkit-animation-delay: 0.18266s;
          animation-delay: 0.18266s;
}

.skills-item:nth-of-type(54) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.81406s;
          transition-delay: 0.81406s;
  -webkit-animation-delay: 0.91076s;
          animation-delay: 0.91076s;
}

.skills-item:nth-of-type(55) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.45436s;
          transition-delay: 0.45436s;
  -webkit-animation-delay: 0.66498s;
          animation-delay: 0.66498s;
}

.skills-item:nth-of-type(56) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.45372s;
          transition-delay: 0.45372s;
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;
}

.skills-item:nth-of-type(57) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.21451s;
          transition-delay: 0.21451s;
  -webkit-animation-delay: 0.07272s;
          animation-delay: 0.07272s;
}

.skills-item:nth-of-type(58) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.96536s;
          transition-delay: 0.96536s;
  -webkit-animation-delay: 0.82131s;
          animation-delay: 0.82131s;
}

.skills-item:nth-of-type(59) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.11209s;
          transition-delay: 0.11209s;
  -webkit-animation-delay: 0.60608s;
          animation-delay: 0.60608s;
}

.skills-item:nth-of-type(60) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.35631s;
          transition-delay: 0.35631s;
  -webkit-animation-delay: 0.95211s;
          animation-delay: 0.95211s;
}

.skills-item:nth-of-type(61) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.29695s;
          transition-delay: 0.29695s;
  -webkit-animation-delay: 0.87102s;
          animation-delay: 0.87102s;
}

.skills-item:nth-of-type(62) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.92548s;
          transition-delay: 0.92548s;
  -webkit-animation-delay: 0.90483s;
          animation-delay: 0.90483s;
}

.skills-item:nth-of-type(63) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.15492s;
          transition-delay: 0.15492s;
  -webkit-animation-delay: 0.38496s;
          animation-delay: 0.38496s;
}

.skills-item:nth-of-type(64) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.79674s;
          transition-delay: 0.79674s;
  -webkit-animation-delay: 0.24475s;
          animation-delay: 0.24475s;
}

.skills-item:nth-of-type(65) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.91744s;
          transition-delay: 0.91744s;
  -webkit-animation-delay: 0.69605s;
          animation-delay: 0.69605s;
}

.skills-item:nth-of-type(66) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.86573s;
          transition-delay: 0.86573s;
  -webkit-animation-delay: 0.09569s;
          animation-delay: 0.09569s;
}

.skills-item:nth-of-type(67) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.81418s;
          transition-delay: 0.81418s;
  -webkit-animation-delay: 0.38114s;
          animation-delay: 0.38114s;
}

.skills-item:nth-of-type(68) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.74534s;
          transition-delay: 0.74534s;
  -webkit-animation-delay: 0.06419s;
          animation-delay: 0.06419s;
}

.skills-item:nth-of-type(69) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.94273s;
          transition-delay: 0.94273s;
  -webkit-animation-delay: 0.79555s;
          animation-delay: 0.79555s;
}

.skills-item:nth-of-type(70) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.56817s;
          transition-delay: 0.56817s;
  -webkit-animation-delay: 0.21713s;
          animation-delay: 0.21713s;
}

.skills-item:nth-of-type(71) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.60567s;
          transition-delay: 0.60567s;
  -webkit-animation-delay: 0.00506s;
          animation-delay: 0.00506s;
}

.skills-item:nth-of-type(72) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.95151s;
          transition-delay: 0.95151s;
  -webkit-animation-delay: 0.17092s;
          animation-delay: 0.17092s;
}

.skills-item:nth-of-type(73) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.52155s;
          transition-delay: 0.52155s;
  -webkit-animation-delay: 0.112s;
          animation-delay: 0.112s;
}

.skills-item:nth-of-type(74) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.52405s;
          transition-delay: 0.52405s;
  -webkit-animation-delay: 0.90057s;
          animation-delay: 0.90057s;
}

.skills-item:nth-of-type(75) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.58354s;
          transition-delay: 0.58354s;
  -webkit-animation-delay: 0.47522s;
          animation-delay: 0.47522s;
}

.skills-item:nth-of-type(76) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.44455s;
          transition-delay: 0.44455s;
  -webkit-animation-delay: 0.21636s;
          animation-delay: 0.21636s;
}

.skills-item:nth-of-type(77) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.88345s;
          transition-delay: 0.88345s;
  -webkit-animation-delay: 0.73986s;
          animation-delay: 0.73986s;
}

.skills-item:nth-of-type(78) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.03755s;
          transition-delay: 0.03755s;
  -webkit-animation-delay: 0.02259s;
          animation-delay: 0.02259s;
}

.skills-item:nth-of-type(79) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.81587s;
          transition-delay: 0.81587s;
  -webkit-animation-delay: 0.08965s;
          animation-delay: 0.08965s;
}

.skills-item:nth-of-type(80) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.89337s;
          transition-delay: 0.89337s;
  -webkit-animation-delay: 0.29019s;
          animation-delay: 0.29019s;
}

.skills-item:nth-of-type(81) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.71237s;
          transition-delay: 0.71237s;
  -webkit-animation-delay: 0.11434s;
          animation-delay: 0.11434s;
}

.skills-item:nth-of-type(82) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.05521s;
          transition-delay: 0.05521s;
  -webkit-animation-delay: 0.53807s;
          animation-delay: 0.53807s;
}

.skills-item:nth-of-type(83) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.3144s;
          transition-delay: 0.3144s;
  -webkit-animation-delay: 0.10123s;
          animation-delay: 0.10123s;
}

.skills-item:nth-of-type(84) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.08327s;
          transition-delay: 0.08327s;
  -webkit-animation-delay: 0.42463s;
          animation-delay: 0.42463s;
}

.skills-item:nth-of-type(85) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.58729s;
          transition-delay: 0.58729s;
  -webkit-animation-delay: 0.193s;
          animation-delay: 0.193s;
}

.skills-item:nth-of-type(86) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.99161s;
          transition-delay: 0.99161s;
  -webkit-animation-delay: 0.30303s;
          animation-delay: 0.30303s;
}

.skills-item:nth-of-type(87) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.05177s;
          transition-delay: 0.05177s;
  -webkit-animation-delay: 0.69747s;
          animation-delay: 0.69747s;
}

.skills-item:nth-of-type(88) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.23485s;
          transition-delay: 0.23485s;
  -webkit-animation-delay: 0.49669s;
          animation-delay: 0.49669s;
}

.skills-item:nth-of-type(89) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.22919s;
          transition-delay: 0.22919s;
  -webkit-animation-delay: 0.21498s;
          animation-delay: 0.21498s;
}

.skills-item:nth-of-type(90) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.40065s;
          transition-delay: 0.40065s;
  -webkit-animation-delay: 0.17915s;
          animation-delay: 0.17915s;
}

.skills-item:nth-of-type(91) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.27665s;
          transition-delay: 0.27665s;
  -webkit-animation-delay: 0.37032s;
          animation-delay: 0.37032s;
}

.skills-item:nth-of-type(92) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.62223s;
          transition-delay: 0.62223s;
  -webkit-animation-delay: 0.47836s;
          animation-delay: 0.47836s;
}

.skills-item:nth-of-type(93) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.26109s;
          transition-delay: 0.26109s;
  -webkit-animation-delay: 0.80959s;
          animation-delay: 0.80959s;
}

.skills-item:nth-of-type(94) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.10812s;
          transition-delay: 0.10812s;
  -webkit-animation-delay: 0.47267s;
          animation-delay: 0.47267s;
}

.skills-item:nth-of-type(95) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.79767s;
          transition-delay: 0.79767s;
  -webkit-animation-delay: 0.80861s;
          animation-delay: 0.80861s;
}

.skills-item:nth-of-type(96) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.61331s;
          transition-delay: 0.61331s;
  -webkit-animation-delay: 0.54602s;
          animation-delay: 0.54602s;
}

.skills-item:nth-of-type(97) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.8015s;
          transition-delay: 0.8015s;
  -webkit-animation-delay: 0.9969s;
          animation-delay: 0.9969s;
}

.skills-item:nth-of-type(98) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.55993s;
          transition-delay: 0.55993s;
  -webkit-animation-delay: 0.00356s;
          animation-delay: 0.00356s;
}

.skills-item:nth-of-type(99) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.10415s;
          transition-delay: 0.10415s;
  -webkit-animation-delay: 0.76206s;
          animation-delay: 0.76206s;
}

.skills-item:nth-of-type(100) {
  -webkit-animation: 10s intro infinite;
          animation: 10s intro infinite;
  -webkit-transition-delay: 0.95298s;
          transition-delay: 0.95298s;
  -webkit-animation-delay: 0.80232s;
          animation-delay: 0.80232s;
}

@-webkit-keyframes intro {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes intro {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.skills-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-wrapper {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  gap: 10px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateZ(50%);
          transform: translateZ(50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.project-container {
  position: relative;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-wrapper {
  width: 100%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateZ(50%);
          transform: translateZ(50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.project-item {
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  position: relative;
}

.project-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-item .hover-img {
  position: absolute;
  width: 100%;
  max-width: 300px;
  top: 0%;
  right: 0%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.project-item .hover-img:hover {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .project-wrapper {
    max-width: 80%;
  }
  .project-item,
  .hover-img {
    max-width: 100px;
    max-height: 100px;
  }
}

.contact-container {
  position: relative;
}

.contact-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5em;
  position: absolute;
  top: 15%;
}

.contact-content {
  max-width: 450px;
  text-align: center;
}

.contact-content h1 {
  color: #56bc8e;
  font-weight: bold;
}

.contact-content p {
  color: white;
}

.contact-content img {
  max-width: 80%;
  margin-top: 3em;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.contact-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid #3981ea;
  background-color: #030724;
  color: white;
  padding: 0.5em;
}

.contact-form label {
  color: #3981ea;
}

.contact-form button {
  border: 2px solid #56bc8e;
  background-color: #030724;
  color: #56bc8e;
  padding: 5px 30px;
  margin-top: 1em;
}

.contact-form button:hover {
  background-color: #56bc8e;
  color: #030724;
  font-weight: bold;
}

@media screen and (max-width: 896px) {
  #contact {
    overflow-y: scroll;
  }
  .contact-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    top: 8%;
  }
  .contact-content {
    max-width: 90%;
  }
  .contact-content img {
    display: none;
  }
  .contact-form {
    padding-bottom: 10em;
  }
}

.thanks-success--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanks-success--container h1 {
  color: #56bc8e;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
          animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

.thanks-success--container p {
  color: white;
}

.thanks-success--container a {
  text-decoration: underline;
}
